/**
 * Console board style.
 */

.console {
  background: #e8e8e8;
  border-bottom: 1px solid #c0c0c0;
  border-left: 1px solid #c0c0c0;
  font-size: 11px;
  position: fixed;
  right: 0;
  text-align: left;
  top: 0;
  width: 300px;

  &__dashboard {
    display: none;
    max-height: 200px;
    overflow-y: auto;

    &--active {
      display: block;
    }

    &--empty {
      padding: 10px;
    }
  }

  &__top {
    align-items: center;
    cursor: pointer;
    display: flex;
    padding: 10px 10px 0 10px;
    user-select: none;

    h2 {
      flex: auto;
    }
  }
}
