<template>
  <div class="console">
    <div
      class="console__top"
      @click="toogle"
    >
      <h2>Console</h2>
      <div class="console__top__toogle">
        <svg xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="none"
          width="20"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <polyline :points="open ? '18 15 12 9 6 15' : '6 9 12 15 18 9'"></polyline>
        </svg>
      </div>
    </div>
    <div
      class="console__dashboard"
      :class="{ 'console__dashboard--active': open }"
      ref="consoleDashboard"
    >
      <div
        class="console__dashboard--empty"
        v-show="!consoleInfo.length"
      >
        No content.
      </div>

      <div ref="consoleList">
        <ul
          v-for="({color, radius, angle, velocity}, index) in consoleInfo"
          :key="index"
        >
          <li>Color: {{ color }}</li>
          <li>Size: {{ radius }}</li>
          <li>Angle: {{ angle }}</li>
          <li>Velocity: {{ velocity }}</li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ConsoleBoard',
  props: {
    consoleInfo: Array
  },
  data: function () {
    return {
      open: true
    }
  },
  watch: {
    consoleInfo: function () {
      // Keeps scroll down with new information.
      this.$nextTick(() => {
        var dashboard = this.$refs.consoleDashboard
        dashboard.scrollTop = this.$refs.consoleList.offsetHeight
      })
    }
  },
  methods: {
    toogle () {
      // Open and close console board.
      this.open = !this.open
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
  @import "./index.scss";
</style>
