<template>
  <div id="app">
    <div class="head">made with <span role="img" aria-label="heart">💙</span> by nunolemos</div>
    <ConsoleBoard :consoleInfo="this.consoleInfo"/>
    <canvas
      id="myCanvas"
      @click="addBall"
      :width="screenWidth"
      :height="screenHeight"
    ></canvas>
  </div>
</template>

<script>
import ConsoleBoard from './components/ConsoleBoard'

export default {
  data: function () {
    return {
      animationFrame: null,
      balls: [],
      consoleInfo: [],
      ctx: null,
      gravity: 9.8,
      screenHeight: window.innerHeight,
      screenWidth: window.innerWidth
    }
  },
  components: {
    ConsoleBoard
  },
  mounted () {
    // Call `draw()` to start animation.
    this.draw()

    // `onresize` update variables.
    window.onresize = () => {
      this.screenHeight = window.innerHeight
      this.screenWidth = window.innerWidth
    }
  },
  destroyed () {
    // When destroyed, stop animation.
    cancelAnimationFrame(this.animationFrame)
    this.animationFrame = null
  },
  methods: {
    addBall (event) {
      // Generate random angles and velocities.
      const angle = this.getRandomInt(40, 180)
      const velocity = this.getRandomInt(5, 15)

      // Create a ball object.
      const ball = {
        color: this.getRandomColor(),
        posX: event.clientX,
        posY: event.clientY,
        radius: Math.floor(this.getRandomInt(50, 100) / 2),
        time: 0,
        velX: velocity * Math.cos(angle * Math.PI / 180), // v0x = v0 cosθ0
        velY: velocity * Math.sin(angle * Math.PI / 180) // v0y = v0 sinθ0
      }

      // Add ball to array `balls`.
      this.balls.push(ball)

      // Add console info to array `consoleInfo`.
      const { color, radius } = ball

      this.consoleInfo.push({
        angle: angle,
        color: color,
        radius: radius * 2,
        velocity: velocity
      })
    },
    calculateNewPositionX (position, velocity, time) {
      // Calculate postion X = x0 + v0x * T
      return position + velocity * time
    },
    calculateNewPositionY (position, velocity, time) {
      // Calculate postion Y = y0 - (v0y * T - (0.5 * A * T^2))
      return position - (velocity * time - (0.5 * this.gravity * Math.pow(time, 2)))
    },
    draw () {
      // Start animation.
      this.animationFrame = requestAnimationFrame(this.draw.bind(this))

      // Get canvas.
      this.ctx = document.getElementById('myCanvas').getContext('2d')
      this.ctx.clearRect(0, 0, this.screenWidth, this.screenHeight)

      // For each ball in the array.
      this.balls.forEach(ball => {
        // Draw the ball.
        this.ctx.beginPath()
        this.ctx.fillStyle = ball.color
        this.ctx.arc(ball.posX, ball.posY, ball.radius, 0, Math.PI * 2)
        this.ctx.closePath()
        this.ctx.fill()

        // Check if the ball collide with margins and slows down and inverts direction.
        if (ball.posX <= ball.radius || ball.posX + ball.radius >= this.screenWidth) {
          ball.velX = -(ball.velX - ball.velX * 0.10)
        }
        if (ball.posY <= ball.radius) {
          ball.velY = -(ball.velY - ball.velY * 0.10)
        }

        // Increment time.
        ball.time += 0.1

        // Update positions.
        ball.posX = this.calculateNewPositionX(ball.posX, ball.velX, ball.time)
        ball.posY = this.calculateNewPositionY(ball.posY, ball.velY, ball.time)

        // If the ball collide with bottom stay there.
        if (ball.posY + ball.radius >= this.screenHeight) {
          ball.posY = this.screenHeight - ball.radius
          ball.velX = (ball.velX - ball.velX * 0.20)
        }
      })
    },
    getRandomColor () {
      // Create a random color.
      return '#' + Math.floor(Math.random() * 16777215).toString(16)
    },
    getRandomInt (min, max) {
      // Create a random int number.
      return Math.floor(Math.random() * (max - min + 1)) + min
    }
  }
}
</script>

<style lang="scss">
  @import "./style.scss";
</style>
