/**
 * App style.
 */

 @import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700&display=swap');

body, html {
  margin: 0;
  overflow: hidden;
  padding: 0;
}

#app {
  font-family: 'Inconsolata', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

#myCanvas {
  height: 100%;
  width: 100%;
}

.head {
  bottom: 0;
  font-size: 12px;
  left: 0;
  padding: 10px;
  position: fixed;

  @media screen and (min-width: 768px) {
    bottom: auto;
    top: 0;
  }
}

